


body {
  background: #380a02;

}

body,
html {
  position: fixed;
  height: 100%;
  width: 120vh;
  width: 100%;
  margin: 0 auto;


}

.atleta {
  position: absolute;
  bottom: 200px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* left: 550px; */
  min-width: 400px;
  width: auto;
  height: 300px;
  z-index: 1000;
}

@keyframes rolante {
  from {
    background-position: 0%;
  }

  to {
    background-position: 50000%;
  }
}

.esteira {
  background-image: url("../img/campos/esteira.png");
  background-repeat: repeat-x;
  background-size: 2100px 250px;
  animation: rolante 600s infinite linear;
  -webkit-animation: rolante 600s infinite linear;
  width: 100%;
  height: 240px;
  margin-top: 700px;
}

.pedra {
  float: right;
  position: absolute;
  width: 80px;
  height: auto;
  /* top: 10%; */
  bottom: 200px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 60px;
}

.flora {
  float: right;
  position: absolute;
  background-size: 100% 100%;
  width: 200px;
  height: 80px;
  bottom: 47%;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  z-index: -10;
}
.terrestre {
  float: right;
  position: absolute;
  background-size: 100% auto;
  width: 200px;
  height: auto;
  bottom: 37%;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  z-index: 10;
}

.nuvem {
  float: right;
  position: absolute;
  background-size: 100% 100%;
  width: 400px;
  height: 80px;
  bottom: 67%;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  z-index: -11;
}
.aereos {
  float: right;
  position: absolute;
  background-size: 100% auto;
  width: 120px;
  height: auto;
  bottom: 67%;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  z-index: -10;
}

.borboletas
{
    float: right;
  position: absolute;
  background-size: 100% auto;
  width: 30px;
  height: auto;
  bottom: 37%;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  z-index: 101;
}

.passaros
{
    float: right;
  position: absolute;
  background-size: 100% auto;
  width: 60px;
  height: auto;
  bottom: 65%;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  z-index: 101;
}


.game-over {
  top: 10px;
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
  color: coral;
}

.creditos {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: aliceblue;
  top: 100px;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
  height: 150px;
  text-align: center;
  color: rgb(189, 177, 163);
  background-color: rgb(189, 41, 18);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.autor {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

#footer a {
  color:#f48271  !important;
  text-decoration: none;
}


@keyframes slideright {
  from {
    background-position: 2300%;
  }

  to {
    background-position: 0%;
  }
}

.tela {
 background-size: 100% 100%;
display: none;
  position: fixed;
  background-image: linear-gradient(to top, #0592c5, #5e93a7, #88D5F1 60%);
  width: 100%;
  z-index: 1000;
}

#fundo {
  position: relative;
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear alternate;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 60rem;
  border: solid 1px #88D5F1;

}
#bonus
{
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 350px;
  height: 450px;
  position: absolute;
  float: right;
  top: 25%;
  right: 10%;
  background-color:transparent;
  z-index: 3000;
}